.playerBox {
  border: 2px black solid;
  height:400px;
  width: 30%;
  float: left;

}

#display {
  border: 2px solid blue;
  height: 100px;
  width: 100px;
}

.player1 {background-color: grey;}
.player2 {background-color: grey;}

.chatBox {
  flex-direction: row;
  float: left;

  height: 150px;
  width: 50%;
  border: 2px solid black;
}